<a href="/post/{{id}}">
  <div>
    <h2>{{title}}</h2>
    <p>{{username}}</p>
    <p>Likes: {{likes}}</p>
    <p>Comments: {{comments}}</p>
    <p>Date: {{updated_at}}</p> <!-- use helper to format as as dd/mm/yyy hh:mm -->
  </div>
</a>