<!-- Make partials for all of these.... -->
<p>---Poster Info---</p>
  <a href="/user/{{poster.id}}">
  <h2>@{{poster.username}}</h2>
</a>
<br />
<p>---Post Info---</p>
<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>Created at: {{post.created_at}}</p> <!--Updated only if updated_at > created_at-->
<p>Likes: {{post.likes}}</p>
<br />
<p>---Comments---</p>
{{#each comments}}
  <p>{{content}}</p>
  <a href="/user/{{user_id}}">
    <p>By {{username}} at {{created_at}}</p>
  </a>
  <p>---</p>
{{/each}}